.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-link {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-family: "Roboto";
  text-decoration: none;
}
.navigation-links1-link1 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-family: "Roboto";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}














@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.error404-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.error404-header {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-primary-primary);
}
.error404-link {
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 1.2px;
  text-decoration: none;
}
.error404-nav {
  display: flex;
}
.error404-burger-menu {
  display: none;
}
.error404-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.error404-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.error404-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.error404-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: var(--dl-color-custom-secondary1);
}
.error404-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error404-container2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.error404-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.error404-link1 {
  text-decoration: none;
}
.error404-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.error404-link2 {
  text-decoration: none;
}
.error404-login {
  color: var(--dl-color-gray-white);
  height: 48px;
  box-shadow: 2px 2px 2px 0px #4751c0;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #5865f2;
}
.error404-text04 {
  font-size: 20px;
  font-family: "Roboto";
}
.error404-hero {
  height: 833px;
  align-items: center;
  justify-content: center;
}
.error404-container5 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 117px;
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  flex-direction: column;
  justify-content: flex-start;
}
.error404-text07 {
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
}
.error404-link3 {
  width: 218px;
  height: 56px;
  margin-top: var(--dl-space-space-twounits);
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-primary);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  text-align: center;      /* Ensure text is centered if it wraps */
}
.error404-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-custom-primary2);
}
.error404-text11 {
  color: #ffffff;
}
@media(max-width: 991px) {
  .error404-login {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .error404-hero {
    height: 987px;
    position: relative;
    max-height: auto;
    flex-direction: column;
  }
  .error404-container5 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .error404-text07 {
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
  }
}
@media(max-width: 767px) {
  .error404-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .error404-nav {
    display: none;
  }
  .error404-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .error404-icon {
    width: 30px;
    height: 30px;
  }
  .error404-mobile-menu {
    display: none;
    background-color: var(--dl-color-custom-neutral-dark);
  }
  .error404-container1 {
    background-color: transparent;
  }
  .error404-text {
    color: var(--dl-color-gray-white);
  }
  .error404-icon2 {
    width: 30px;
    height: 30px;
  }
  .error404-container2 {
    width: 100%;
  }
  .error404-container3 {
    height: 66px;
  }
  .error404-link1 {
    width: 100%;
    height: 43px;
    box-shadow: 1.5px 1.5px 2px 1px #8e3305;
    margin-top: var(--dl-space-space-unit);
    border-width: 0px;
    margin-right: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    background-color: var(--dl-color-custom-primary2);
  }
  .error404-container4 {
    height: 77px;
    margin-bottom: 0px;
  }
  .error404-link2 {
    width: 100%;
    height: 43px;
    box-shadow: 1.5px 1.5px 2px 1px #940b0b;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-oneandhalfunits);
    border-width: 0px;
    margin-right: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    background-color: #d45454;
  }
  .error404-login {
    width: 222px;
  }
  .error404-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .error404-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .error404-text11 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .error404-header {
    height: 76px;
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .error404-mobile-menu {
    display: none;
    padding: 16px;
    background-color: var(--dl-color-custom-neutral-dark);
  }
  .error404-nav1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .error404-container1 {
    background-color: transparent;
  }
  .error404-text {
    color: var(--dl-color-gray-white);
  }
  .error404-container2 {
    width: 100%;
  }
  .error404-container3 {
    width: 100%;
    height: 75px;
  }
  .error404-link1 {
    width: 100%;
    height: 41px;
    box-shadow: 1.5px 1.5px 2px 1px #8e3305;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-oneandhalfunits);
    border-width: 0px;
    margin-right: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    animation-name: pulse;
    animation-delay: 0s;
    background-color: var(--dl-color-custom-primary2);
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .error404-container4 {
    width: 100%;
    height: 75px;
  }
  .error404-link2 {
    color: #ffffff;
    width: 100%;
    height: 41px;
    box-shadow: 1.5px 1.5px 2px 1px #940b0b;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-oneandhalfunits);
    border-color: var(--dl-color-gray-white);
    border-width: 0px;
    margin-right: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    animation-name: pulse;
    animation-delay: 0s;
    background-color: #d45454;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center;      /* Ensure text is centered if it wraps */
  }
  .error404-text02 {
    width: 100%;
    height: 41px;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-oneandhalfunits);
    border-width: 0px;
    margin-right: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    animation-name: pulse;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .error404-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .error404-container5 {
    height: 114px;
    margin-bottom: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .error404-text08 {
    text-align: center;
  }
  .error404-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .error404-text11 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
